@import 'tailwindcss';

@layer base {
    img {
        display: initial;
    }
}

/* Force page break in content */
.page-break {
    page-break-before: always;
}

@media print {
    .footer {
        position: fixed;
        bottom: 0;
    }

    .resume-content {
        page-break-after: always;
    }
}
